<% layout('./layouts/boilerplate') -%>

<div class="row">
    <div class="col-lg-6">
        <div class="card text-center shadow lg p-2 mx-auto" style="width: 22rem;">
            <img style="height: 320px;" src= <%= product.img %>" class="card-img-top" alt="..." >
            <div class="card-body">
              <h5 class="card-title"><%= product.name%></h5>
              <h5 class="card-title">$ <%= product.price%></h5>
              <p class="card-text"><%= product.desc %></p>
              <a href="#" class="btn btn-primary">Buy</a>
              <a href="#" class="btn btn-success btn-primary">Add To Cart</a>
              <a href="/products/<%= product._id %>/edit" class="btn btn-secondary btn-primary">Edit</a>
              <form action="/products/<%=product._id%>?_method=DELETE" method="post" class="d-inline">
                <button class="btn btn-sm btn-danger">Delete</button>
             </form>
            </div>
          </div>
    </div>
    <div class="col-lg-6">
        <h1 class="display-5 text-center">Leave Your Review</h1>
    </div>
</div>