<% layout('./layouts/boilerplate') -%>

<div class="row">
    <div class="col-lg-6">
        <div class="card text-center shadow lg p-2 mx-auto" style="width: 22rem;">
            <img style="height: 320px;" src= <%= product.img %>" class="card-img-top" alt="..." >
            <div class="card-body">
              <h5 class="card-title"><%= product.name%></h5>
              <h5 class="card-title">$ <%= product.price%></h5>
              <p class="card-text"><%= product.desc %></p>
              <a href="#" class="btn btn-primary">Buy</a>
              <a href="#" class="btn btn-success btn-primary">Add To Cart</a>
              <a href="/products/<%= product._id %>/edit" class="btn btn-secondary btn-primary">Edit</a>
              <form action="/products/<%=product._id%>?_method=DELETE" method="post" class="d-inline">
                <button class="btn  btn-danger">Delete</button>
             </form>
            </div>
          </div>
    </div>
    <div class="col-lg-6">
        <h1 class="display-5 text-center">Leave Your Review</h1>
        <form action="/products/<%= product._id %>/review" method="post">
          
          <div style="margin-left: 35%;margin-top: 10px;" >
            <fieldset class="starability-basic">
              <!-- <legend>First rating:</legend> -->
              <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="rating" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="rating" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="rating" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="rating" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="rating" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div> 
          <div class="mb-3">
            <label class="form-label" for="desc" style="font-size: larger;">Review</label>
            <textarea class="form-control" name="comment" id="desc" rows="3"></textarea>
        </div> 
          <button class="btn btn-success" >Submit</button>
          </form> 
          <div class="my-3">
            <%for(let review of product.reviews){%>
              <div class="card mb-3">
                <div class="card-body">
                  <p class="starability-result" data-rating="<%=review.rating%>">
                    Rated: <%=review.rating%> stars
                  </p>
                  <!-- <h5 class="card-title">Special title treatment</h5> -->
                  <p class="card-text"><%= review.comment %><p>
                    <% if(review.createdAt){ %>
                      <p class="text-muted"><%= review.createdAt.toDateString()%></p>
                      <% } %>
                  <a href="#" class="btn btn-danger btn-sm">Delete</a>
                </div>
              </div>
            <%}%>
        </div>
    </div>
</div>